.jumbotron {
    background-color: rgb(255, 208, 208);
    color: black;
    margin-top: 50px;
}

.cardaccor {
    border: none;
    
}

.card-accorheader {
    border: none;
    background-color: white;
}



footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 208, 208);
    margin-bottom: 0px;
    margin-top: 10px;
}
footer a {
    color: rgb(0, 0, 0);
}

.card-services {
    flex: 1 200px;
    padding: 0px  0px  0px 0px;
    margin-top: 10px;
    border: none;
}

.card-body {
    padding: 10px  0px  10px 0px;
    margin-top: 10px;
    border: none;
}


.btn-card {
    width: 100%;
    border-radius: 0p;
    margin: 0px 0px 0px 0px;

}


.card-footer {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.btn-footer{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.tab-content {
    padding-top: 10px;
}

.pcollapse  {
    padding-top: 10px;
}